/* app css stylesheet */

body {
    background-color: #485F99/*#0C6AA6*/ ;
    font-size: 15px;
    color: #DFF9FF;
    letter-spacing: 0.1em;
    font-family: 'Ubuntu', sans-serif;
}

.center {
    text-align: center;
}

.name {
    font-weight: bolder;
}

.green {
    color: #FFA478;
}

a {
   color: #FFA478; 
}

a:hover {
    color: white;
}

/*
===================================
        NAVIGATION MENU
===================================
*/

#nav-header ul{
    border: 0.15em solid #FFA478;
    margin: 0.5em;
    border-radius: 1em;
}

#main-menu {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    padding: 0;
}

#main-menu li a{
    color: white;
    padding: 1em 0.5em;
    border-radius: 0px;
}

#main-menu li a:hover{
    background-color: #FFA478;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

/*
===================================
        FIRST VIEW
===================================
*/

/* here begins the selection file area attributes */

#selection-area {
    display: flex;
    align-items: center;
}


#selection-area2 h1, #selection-area h1 {
    font-size: 250%;
    padding: 0.2em;
    margin-bottom: 0.25em;
    border-bottom: 0.15em solid #FFA478;
    text-align: center;
}

/* here ends the selection file area attributes */

/* here begins the button attributes */

#file-button {
    border-top: 0.02em solid #006F3A;
    background: #FFA478;
    padding: 0.8em 1.2em;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    vertical-align: middle;
}

#file-button:hover {
    background: white;
    color: #FFA478;
}

#file-button:active {
    background-color: #9eabcc;
}

/* here ends the button attributes */

/* Here begins the Modal Content/Box attributes */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #9EABCC;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-box {
    color: #FFA478;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-box:hover,
.close-box:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.help {
   color: #FFA478;
   background-color: #485F99/*#0C6AA6*/;   
   border: 0.15em solid #FFA478;
   margin: 0.5em;
   border-radius: 1em;

}

.modal-window {
    color: #FFA478;
}

/* Here ends the Modal Content/Box attributes */

/* here begins the actors and tasks attributes */
#action-box,#inner-action-box, #image-area, #disabled-activities {
    background-color: #CCA69E;
    color: inherit;
    border: none;
    background-image: none;
}

#inner-action-box {
    padding: 0.5em;
    overflow-y: scroll;
    height: 40em;
}

#action-box {
    /*margin: 0.5em;*/
}

#image-area {
    float: right;
}

#show-app-content {
        /* border-top: 0.02em solid #006F3A; */
    background: #FFA478;
    padding: 0.8em 1.2em;
    box-sizing: border-box;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    /* -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; */
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    /* box-shadow: rgba(0,0,0,1) 0 1px 0; */
    /* text-shadow: rgba(0,0,0,.4) 0 1px 0; */
    color: white;
    /* font-size: 0.8em; */
    text-decoration: none;
    vertical-align: middle;
    border: 0px solid transparent;
}

#show-app-content:hover {
    background: white;
    color: #FFA478;
}

#show-app-content:active {
    background-color: #9eabcc;
}

/* here ends the button attributes */

.tasks {
    padding: 2em 0 1em 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.colorSelector {
    position: relative;
    width: 36px;
    height: 36px;
    background: url(resources/colorpicker/images/select.png);
}

.colorSelector div {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url(resources/colorpicker/images/select.png) center;
}

.tasks:last-child {
    border-bottom: none;
}

.modal-body {
    color: #FFA478;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    background-image: none;
    background-repeat: no-repeat;
}

/* Here begins the Modal Content/Box attributes */

.help-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #485F99;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1em;
    border: 1px solid #888;
    width: 40em;
    height: 15em;
    box-sizing: border-box; /* Could be more or less, depending on screen size */
}

#canvasModal .modal-content {
    width: 75em;
    height: 44em;
}
.drawing {
    margin-top: 30px;
}

.modal-body > input {
    height: 3em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 1em;
    padding: 0 1em;
}

/* The Close Button */
.close-box {
    color: #FFA478;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.btn-warning:hover, .btn-warning:focus {
    color: #f0ad4e;
    background-color: #fff;
    border-color: #fff;
}

.orange-button{
    background: #FFA478;
    border-color: transparent;
    color: white;
}

.orange-button:hover, .orange-button:focus {
    background: white;
    border-color: transparent;
    color: #FFA478;
}

.dropdown{
    margin: 0 1em 0 1em;   
}

.dropdown-menu-app {
    color: #485F99;;
}

.btn-default.active.focus, .btn-default.active:focus, 
.btn-default.active:hover, .btn-default:active.focus, 
.btn-default:active:focus, .btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus, 
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover {
    background: white;
    border-color: transparent;
    color: #FFA478;
}

.modal-window {
    color: #FFA478;
}

/* Here ends the Modal Content/Box attributes */

/* here begins the actors and tasks attributes */
#action-box,#inner-action-box, #image-area, #disabled-activities {
    background-color: #CCA69E;
    color: inherit;
    border: none;
    background-image: none;
}

#inner-action-box, #inner-disabled {
    padding: 0.5em;
    overflow-y: scroll;
    height: 40em;
}

#inner-disabled{
    overflow-y: auto;
    height: auto;
} 

#image-area {
    float: right;
}

.actor, .disabled-tasks {
    margin: 0.5em 0;
    padding: 1em;
    background-color: #9EABCC;
    border-radius: 1em;
}

.actor-box {
    margin-bottom: 0;
    border-radius: 1em;
}

#action-box, #disabled-activities {
    padding: 0 0.09em;
    border-radius: 1em;
    //margin: 0.5em;
}

.tasks {
    padding: 2em 0 1em 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.tasks:last-child {
    border-bottom: none;
}

.modal-body {
    color: #FFA478;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    background-image: none;
    background-repeat: no-repeat;
}

.btn-warning:hover, .btn-warning:focus {
    color: #f0ad4e;
    background-color: #fff;
    border-color: #fff;
}

.orange-button{
    background: #FFA478;
    border-color: transparent;
    color: white;
}

.orange-button:hover, .orange-button:focus {
    background: white;
    border-color: transparent;
    color: #FFA478;
}

.dropdown{
    margin: 0 1em 0 1em;   
}

.btn-default.active.focus, .btn-default.active:focus, 
.btn-default.active:hover, .btn-default:active.focus, 
.btn-default:active:focus, .btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus, 
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover {
    background: white;
    border-color: transparent;
    color: #FFA478;
}



/* here ends the actors and tasks attributes */

/*
===================================
        SECOND VIEW
===================================
*/

.about-menu a {
    background-color: transparent;
    color: inherit;
    border: none;
}

.about-menu a:hover {
    background-color: #FFA478;
    color: inherit;
    border: none;
}

.about-menu {
    border: 0.15em solid #FFA478;
    margin: 0.5em;
    border-radius: 0.5em;
}

#atention {
    float: right;
}
