/* app css stylesheet */

body {
    background-color: #485F99/*#0C6AA6*/ ;
    font-size: 15px;
    color: #DFF9FF;
    letter-spacing: 0.1em;
    font-family: 'Ubuntu', sans-serif;
}

.center {
    text-align: center;
}

.name {
    font-weight: bolder;
}

.green {
    color: #FFA478;
}

a {
   color: #FFA478; 
}

a:hover {
    color: white;
}

/*
===================================
        NAVIGATION MENU
===================================
*/

#nav-header ul{
    border: 0.15em solid #FFA478;
    margin: 0.5em;
    border-radius: 1em;
}

#main-menu {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    padding: 0;
}

#main-menu li a{
    color: white;
    padding: 1em 0.5em;
    border-radius: 0px;
}

#main-menu li a:hover{
    background-color: #FFA478;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
     background-color: transparent; 
}

/*
===================================
        FIRST VIEW
===================================
*/

/* here begins the selection file area attributes */

#selection-area {
    display: flex;
    align-items: center;
}


#selection-area2 h1, #selection-area h1 {
    font-size: 250%;
    padding: 0.2em;
    margin-bottom: 0.25em;
    border-bottom: 0.15em solid #FFA478;
    text-align: center;
}

/* here ends the selection file area attributes */

/* here begins the button attributes */

#file-button {
    border-top: 0.02em solid #006F3A;
    background: #FFA478;
    padding: 0.8em 1.2em;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    vertical-align: middle;
}

#file-button:hover {
    background: white;
    color: #FFA478;
}

#file-button:active {
    background-color: #9eabcc;
}

/* here ends the button attributes */

#action-box,#inner-action-box, #image-area, #disabled-activities {
    background-color: #CCA69E;
    color: inherit;
    border: none;
    background-image: none;
}

#inner-action-box {
    padding: 0.5em;
}

#action-box {
    /*margin: 0.5em;*/
}

#image-area {
    float: right;
}

.actor {
    margin: 0.5em 0;
    padding: 1em;
    background-color: #9EABCC;
    border-radius: 1em;
}

.actor-box {
    margin-bottom: 0;
    border-radius: 1em;
}

#action-box {
    padding: 0 0.09em;
    border-radius: 1em;
}

.tasks {
    padding: 2em 0 1em 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #9EABCC;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-box {
    color: #FFA478;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-box:hover,
.close-box:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


.help {
   color: #FFA478;
   background-color: #485F99/*#0C6AA6*/;   
   border: 0.15em solid #FFA478;
   margin: 0.5em;
   border-radius: 1em;

}
/*
===================================
        SECOND VIEW
===================================
*/

.about-menu a {
    background-color: transparent;
    color: inherit;
    border: none;
}

.about-menu a:hover {
    background-color: #FFA478;
    color: inherit;
    border: none;
}

.about-menu {
    border: 0.15em solid #FFA478;
    margin: 0.5em;
    border-radius: 0.5em;
}

#atention {
    float: right;
}