<div ng-controller="View1Ctrl" id="main-content" class="container">


    <div class="row" id="selection-area">
        <div class="col-md-3">
            <label  id="file-button">
                Enviar <input type="file" style="display: none;" on-read-file="showContent($content)">
            </label>
        </div>
        <div class="col-md-9">
            <h1 class="tool-presentation-text">CAMELoT</h1>
            
            <p class="center">Seja bem vindo ao <span class="name"><span class="green">C</span>itizen <span class="green">A</span>utomatic <span class="green">M</span>od<span class="green">EL</span> Transformation</span>! Clique em enviar para traduzir o arquivo</p>
        </div>
    </div>


    <div class="row" ng-if="readableProcess">
        <h1>File content is:</h1>

        <div class="col-md-4" id="action-box">


            <div class="well well-lg taskColumn" id="inner-action-box">

                <div ng-repeat="actor in readableProcess.getActors()" class="actor">
                    


                    <div class="btn-group pull-right" role="group" >
                        <button type="button" class="btn btn-primary taskToggler" type="button" status="hidden"><i class="material-icons" id="visibility-icon">visibility_off</i></button>
                        <button type="button" class="btn btn-warning" ng-click="removeActor(readableProcess, actor)"><i class="material-icons">delete</i></button>
                    </div>
                    
                    <span ng-if="actor == '' "> Actor: No Actors! </span>
                    <span ng-if="actor != '' "> Actor: {{ actor }} </span> 
                        
                    <div ng-repeat="readableTask in readableProcess.getTasksByActor(actor)" class="tasks">

                        <span>Task Definition :</span>
                        <span>{{ readableTask.getDefinition() }}</span>

                        <div ng-controller="ModalCtrl as $ctrl" class="modal-demo">
                            <button class="btn btn-default pull-right" ng-click="openDefinition(readableTask)"><i class="material-icons">add</i></button>

                            <script type="text/ng-template" id="myModalContentDefinition.html">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="modal-title-definition">Change task definition</h3>
                                </div>
                                <div class="modal-body" id="modal-body-definition">
                                    <input type="text" ng-model="newDefinition">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok('definition')">OK</button>
                                    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                                </div>
                            </script>
                        </div>


                        <br/>
                        <br/>
                        <br/>

                        <span>Comments:</span>
                        <span ng-if="readableTask.getComment(0)" ng-repeat="comment in readableTask.getAllComment()">
                            {{ comment }}, </span>
                        <span ng-if="!readableTask.getComment(0)"> No comments! </span>

                        <div ng-controller="ModalCtrl as $ctrl" class="modal-demo">
                            <button class="btn btn-default pull-right" ng-click="openComments(readableTask)"><i class="material-icons">add</i></button>

                            <script type="text/ng-template" id="myModalContentComments.html">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="modal-title-comment">Add Comments to the task</h3>
                                </div>
                                <div class="modal-body" id="modal-body-comment">
                                    <input type="text" ng-model="newComment">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok('comment')">OK</button>
                                    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                                </div>
                            </script>
                        </div>

                        <br/>
                        <br/>

                        <button class="btn btn-warning" ng-click="removeTask(readableProcess, readableTask)">
                            Remove Task
                        </button>

                        <br/>
                    </div>
                </div>


            </div>


        </div>

        <button class="btn btn-default" ng-click="draw(readableProcess)">
            Draw Process
        </button>
        <div class="well well-lg col-md-8 drawing">
            <canvas id="processCanvas" width="730px" height="500px"></canvas>
        </div>

    </div>

    <div class="row" ng-if="readableProcess.getDisabledTask(0)">
        <div class="col-md-4 well well-lg " id="disabled-activities">
            <h2>Disabled Activities:</h2>
            <button class="btn btn-primary pull-right disabledToggler" type="button" status="hidden">
                Show Disabled Tasks</button>

            <div class="tasks" ng-repeat="readableTask in readableProcess.getDisabledTasks()">
                <h3>Task {{$index + 1}} </h3>



                <span>Task actor:</span>
                <span ng-if="readableTask.getActor(0)" ng-repeat="actor in readableTask.getAllActor()">
                    {{ actor }},  </span>
                <span ng-if="!readableTask.getActor(0)"> No Actors! </span>

                <br/>

                <span>Task Definition :</span>
                <span>{{ readableTask.getDefinition() }}</span>

                <br/>

                <span>Comments:</span>
                <span ng-if="readableTask.getComment(0)" ng-repeat="comment in readableTask.getAllComment()">
                    {{ comment }}, </span>
                <span ng-if="!readableTask.getComment(0)"> No comments! </span>


            </div>
        </div>
    </div>
</div>

<script>

    $(document).on("click", ".taskToggler", function() {

        //alert($(this).attr("status") == "hidden");

        if($(this).attr("status") == "hidden"){
            $("#visibility-icon").replaceWith("<i class='material-icons'>visibility</i>");
            $(this).attr("status", "exposed");
            $(this).parent().parent().children(".tasks").css("display","inline-block");
        }
        else if($(this).attr("status") == "exposed") {
            $(this).parent().parent().children(".tasks").css("display","none");
            $(this).attr("status", "hidden");
            $("#visibility-icon").replaceWith("<i class='material-icons'>visibility</i>");
        }
    });

    $(document).on("click", ".disabledToggler", function() {

        if($(this).attr("status") == "hidden"){
            $(this).html("Hide Disabled Tasks");
            $(this).attr("status", "exposed");
            $(this).parent().children(".tasks").css("display","inline-block");
        }
        else if($(this).attr("status") == "exposed") {
            $(this).parent().children(".tasks").css("display","none");
            $(this).attr("status", "hidden");
            $(this).html("Show Disabled Tasks");
        }
    });




</script>



