<div ng-controller="FerramentaCtrl as $ctrl" id="main-content" class="container">

    <div class="row" id="selection-area">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <label  id="file-button">
                Enviar <input id="uploadFile" type="file" style="display: none;" on-read-file="showContent($content)">
            </label>
        </div>
        <div class="col-md-9">
            <h1 class="tool-presentation-text">CAMELoT</h1>
            <div class="row">
                <div class="col-md-2"></div>
                <p class="center col-md-9">Seja bem vindo ao <span class="name"><span class="green">C</span>itizen <span class="green">A</span>utomatic <span class="green">M</span>od<span class="green">EL</span> <span class="green">T</span>ransformation</span>! Clique em enviar para traduzir o arquivo</p>
                <div class="col-md-1">
                    <!-- Trigger/Open The Modal -->
                    <button class="help" id="myBtn">?</button>

                    <!-- The Modal -->
                    <div id="myModal" class="help-modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close-box">&times;</span>
                            <h2 class="center green">Atenção!</h2>
                            <p>A <span class="green">CAMELoT</span> ainda não atende a transformação de modelos mais  elaborados, com vários e longos fluxos, eventos complexos ou determinados elementos sintáticos não usuais. <!-- <a href="#!/ferramenta#use" class="center green">Para saber mais clique aqui.</a> --></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row" id="app-description">
        
        <div class="col-md-12">
            <h2 class="green center">Contexto e motivação</h2>
            <p id="context" >Modelos de processo de negócio construídos com notações e linguagens técnicas não são de fácil entendimento pela maioria dos cidadãos. Por outro lado textos em linguagem natural não são adequados para representar processos de negócios, por possuírem problemas semânticos e linguísticos próprios, apesar de melhor entendidos pela maioria dos cidadãos. Uma linguagem de processos cidadã objetiva mesclar "o melhor dos dois mundos", apresentando uma sintaxe apropriada para representar tarefas e atividades, minimizando (ou excluindo) os problemas semânticos da linguagem natural, como ambiguidade, sobrecarga de leitura, excesso de repetição, entre outros.</p>

            <h2 class="green center">Objetivo</h2>
            <p id="objective" >Transformar de forma semi-automática modelos de processo de negócio escritos em uma notação técnica para uma linguagem cidadã de forma que estes sejam mais facilmente entendíveis por cidadãos. Tem como insumo um arquivo XPDL gerado a partir de um modelo em Business Process Modeling and Notation (BPMN). Um modelo de processo de negócio em Linguagem Cidadã será o produto da ferramenta.  Este produto é um modelo de processo de negócio simplificado representando o mesmo processo de negócio utilizado como entrada.</p>

            <h2 class="green center">Instruções de Uso</h2>
            <ol >
                <li>Na tela inicial você deverá clicar em Selecionar Arquivo</li>
                <li>Selecionar um arquivo XPDL no seu dispositivo</li>
                <li>O sistema realizará o primeiro passo da adaptação internamente</li>
                <li>Na tela de configuração você adaptará o processo de negócio como preferir para esta linguagem cidadã</li>
                <li>Clicar em finalizar</li>
                <li>O sistema realizará o segundo passo da adaptação internamente</li>
                <li>O sistema mostrará o modelo final em linguagem cidadã</li>
                <li id="use">Na tela de exposição do modelo você poderá salvar o modelo adaptado como imagem ou reiniciar a adaptação</li>
            </ol>
            <p>Pronto, aí está seu modelo de processo de negócio com melhor entendimento, em notação e sintaxe, pelos cidadãos. <button id="show-app-content">Para utilizar o CAMELoT clique aqui.</button></p>
        </div>
    </div>      

    <div class="row" id="main-app" ng-if="readableProcess">
        <h1>Conteúdo do processo:</h1>

        <div class="col-md-6" id="action-box">

            <div class="well actor-box well-lg taskColumn" id="inner-action-box">

                <div ng-repeat="actor in readableProcess.getActors()" class="actor">
                    
                    <span ng-if="actor == '' "> Ator: No Actors! </span>
                    <span ng-if="actor != '' "> Ator: {{ actor }} </span>

                    <div class="btn-group dropdown-btn" role="group" >
                        <!-- <button type="button" class="btn btn-primary taskToggler" type="button" status="hidden"><i class="material-icons" id="visibility-icon">visibility_off</i></button>
                        <button type="button" class="btn btn-warning" ng-click="removeActor(readableProcess, actor)"><i class="material-icons">delete</i></button> -->
                        <div class="dropdown ">
                            <button class="btn btn-default dropdown-toggle orange-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="material-icons">more_vert</i>
                                <!-- <span class="caret"></span> -->
                            </button>
                            <ul class="dropdown-menu dropdown-menu-app" aria-labelledby="dropdownMenu1">
                                <li class="taskToggler" status="exposed"><i class="material-icons" id="visibility-icon">visibility_off</i> <span>Esconder tarefas</span></li>
                                <li ng-click="removeActor(readableProcess, actor)"><i class="material-icons">delete</i>Excluir ator</li>
                                <li ng-click="openActorName(readableProcess, actor)">
                                    <div class="modal-demo" style="display: inline-block">
                                        <i class="material-icons">edit</i> Editar nome do ator
                                        <script type="text/ng-template" id="myModalActorName.html">
                                            <div class="modal-window">
                                                <div class="modal-header">
                                                    <h3 class="modal-title" id="modal-actor-name">Alterar nome do ator {{ actor }}</h3>
                                                </div>
                                                <div class="modal-body" id="modal-body-actor-name">
                                                    <input type="text" ng-model="newActorName">
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary orange-button" type="button" ng-click="$ctrl.ok('actorName')">OK</button>
                                                    <button class="btn btn-warning orange-button" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
                                                </div>
                                            </div>
                                        </script>
                                    </div>
                                </li>
                                <li>

                                </li>

                                <li role="separator" class="divider"></li>
                            </ul>
                        </div>
                    </div>

                    <div colorpicker class="colorpicker" style="width:30px; height: 30px; display: inline-block; background-color: {{color}};" ng-model="color" actor="{{ actor }}" ng-process="readableProcess"></div>
                    <span>Escolher a cor</span>

                    <div ng-repeat="readableTask in readableProcess.getTasksByActor(actor)" class="tasks">

                        <span>Definição da tarefa:</span>
                        <span>{{ readableTask.getDefinition() }}</span>
                        <span ng-model="readableTask.color"></span>


                        <div ng-controller="ModalCtrl as $ctrl" class="modal-demo">
                            <button class="btn btn-default pull-right orange-button" ng-click="openDefinition(readableTask)"><i class="material-icons">add</i></button>

                            <script type="text/ng-template" id="myModalContentDefinition.html">
                                <div class="modal-window">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="modal-title-definition">Alterar descrição da tarefa</h3>
                                    </div>
                                    <div class="modal-body" id="modal-body-definition">
                                        <input type="text" ng-model="newDefinition">
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary orange-button" type="button" ng-click="$ctrl.ok('definition')">OK</button>
                                        <button class="btn btn-warning orange-button" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
                                    </div>
                                </div>
                            </script>
                        </div>


                        <br/>
                        <br/>
                        <br/>

                        <span>Comments:</span>
                        <span ng-if="readableTask.getComment(0)" ng-repeat="comment in readableTask.getAllComment()">
                            {{ comment.getText() }}, </span>
                        <span ng-if="!readableTask.getComment(0)">Nenhum comentário</span>

                        <div ng-controller="ModalCtrl as $ctrl" class="modal-demo">
                            <button class="btn btn-default pull-right orange-button" ng-click="openComments(readableTask)"><i class="material-icons">add</i></button>

                            <script type="text/ng-template" id="myModalContentComments.html">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="modal-title-comment">Adicionar comentários</h3>
                                </div>
                                <div class="modal-body" id="modal-body-comment">
                                    <div class="input-group">
                                        <span class='input-group-addon'><small>Selecione o tipo de comentário:</small></span>
                                        <select name='comment-type' class='form-control' id='comment-type-select' ng-model="commentType">
                                            <option value='rule'>Regra</option>
                                            <option value='flux'>Fluxo</option>
                                            <option value='remark'>Observação</option>
                                        </select>
                                    </div>
                                    <br>
                                    <input type="text" ng-model="newComment">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary orange-button" type="button" ng-click="$ctrl.ok('comment')">OK</button>
                                    <button class="btn btn-warning orange-button" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
                                </div>
                            </script>
                        </div>

                        <br/>
                        <br/>

                        <button class="btn btn-warning orange-button" ng-click="removeTask(readableProcess, readableTask)">
                            Remover Tarefa
						</button>

                        <br/>
                    </div>
                </div>


            </div>

        </div>


        <div class="col-sm-6">
            <button id="processDrawer" class="btn btn-default orange-button" ng-click="draw(readableProcess)">
                Desenhar o Processo
            </button>
            <div id="atention">
                <h2 class="center green">Atenção!</h2>
                <p>A <span class="green">CAMELoT</span> ainda não atende a transformação de modelos mais  elaborados, com vários e longos fluxos, eventos complexos ou determinados elementos sintáticos não usuais. <a href="#!/view2#use" class="center green">Para saber mais clique aqui.</a></p>
            </div>
        </div>

        <div id="canvasModal" class="help-modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close-box">&times;</span>
                <a id="btnDownload">
                    <button class="btn btn-default orange-button" ng-click="download(readableProcess)">
                        Salvar Imagem
                    </button>
                </a>

                <div class="well well-lg drawing">
                    <canvas id="processCanvas" width="100px" height="500px"></canvas>
                </div>

            </div>
        </div>

    </div>



    <div class="row" ng-if="readableProcess.getDisabledTask(0)">
        <div class="col-md-4 well well-lg " id="disabled-activities">

		<div id="inner-disabled">
                <h2>Disabled Activities:</h2>
                <button class="btn btn-primary pull-right disabledToggler orange-button" type="button" status="hidden">
                    Show Disabled Tasks
				</button>

                <div class="tasks" ng-repeat="readableTask in readableProcess.getDisabledTasks()">
                    <div class="disabled-tasks">
                        <h3>Task {{$index + 1}} </h3>

                        <span>Task actor:</span>
                        <span ng-if="readableTask.getActor(0)" ng-repeat="actor in readableTask.getAllActor()">
                            {{ actor }},  </span>
                        <span ng-if="!readableTask.getActor(0)"> No Actors! </span>

                        <br/>

                        <span>Task Definition :</span>
                        <span>{{ readableTask.getDefinition() }}</span>

                        <br/>

                        <span>Comments:</span>
                        <span ng-if="readableTask.getComment(0)" ng-repeat="comment in readableTask.getAllComment()">
                            {{ comment }}, </span>
                        <span ng-if="!readableTask.getComment(0)"> No comments! </span>

                    </div>
                </div>
            </div>
        </div>        
    </div>
    
</div>

<script>

    $(document).on("click", ".taskToggler", function() {

        if($(this).attr("status") == "hidden"){
            $(this).find(".visibility-icon").html('visibility_off');
            $(this).attr("status", "exposed");
            $(this).parents('.actor').children(".tasks").css("display","inline-block");
            $(this).find('span').html('Esconder tarefas');
        }
        else if($(this).attr("status") == "exposed") {
            $(this).parents('.actor').children(".tasks").css("display","none");
            $(this).attr("status", "hidden");
            $(this).find(".visibility-icon").html('visibility');
            $(this).find('span').html('Exibir tarefas');
        }
    });

    $(document).on("click", ".disabledToggler", function() {

        if($(this).attr("status") == "hidden"){
            $(this).html("Hide Disabled Tasks");
            $(this).attr("status", "exposed");
            $(this).parent().children(".tasks").css("display","inline-block");
        }
        else if($(this).attr("status") == "exposed") {
            $(this).parent().children(".tasks").css("display","none");
            $(this).attr("status", "hidden");
            $(this).html("Show Disabled Tasks");
        }
    });

    // When the user clicks on the button, open the modal 
    $("#myBtn").on("click", function() {
        $("#app-description").show(1000);
        $("#main-app").hide(1000);
        $('#myModal').css("display", "block");
    });
    $(document).on("click", "#processDrawer", function() {
        $('#canvasModal').css("display", "block");
    });

    $("#show-app-content").click(function(){
            $("#main-app").show(1000);
            $("#app-description").hide(1000);
        });

    // When the user clicks on <span> (x), close the modal
    $(".close-box").on("click", function() {
        $('#myModal').css("display", "none");
        $('#canvasModal').css("display", "none");
    });
    $(document).on("click", ".close-box", function() {
        $('#myModal').css("display", "none");
        $('#canvasModal').css("display", "none");
    });

    // When the user clicks anywhere outside of the modal, close it
    $(window).on("click", function(event) {
        if ($(event.target).is($('#myModal'))) {
            $('#myModal').css("display", "none");
        }
    });

    $("#file-button").click(function(){
        $("#app-description").hide(1000);
    });

    $(document).on("click", ".dropdown-menu-app", function(event) {
        //event.stopPropagation();
    });



</script>



